OAuth2 + OIDC: ignore unrecognized fields in the authorization response

### Describe the improvement you are suggesting in detail

As of [RFC6749 Section 4.1.2](https://datatracker.ietf.org/doc/html/rfc6749#section-4.1.2) 
> The client MUST ignore unrecognized response parameters.

I stumbled upon this trying to get OIDC working with Keycloak. Keycloak sends two fields (`refresh_expires_in` and `not-before-policy`) in the authorization response, which makes `linkAccount` from auth.js(/next-auth) prisma adapter fail. 

I suggest to filter out any fields that aren't in the `Account` model get filtered out before persisting the Account. I also realized that some other IDP specific fields were added to the `Account` model previously. Maybe we can even roll back those then.

I hacked together a quick solution. Happy to file a PR.

### Additional Information & Alternatives (optional)

_No response_

### Do you want to work on this improvement?

Yes

### Please check the boxes that apply to this improvement suggestion.

- [X] I have searched the existing issues and improvement suggestions to avoid duplication.
- [X] I have provided a clear description of the improvement being suggested.
- [X] I have explained the rationale behind this improvement.
- [X] I have included any relevant technical details or design suggestions.
- [X] I understand that this is a suggestion and that there is no guarantee of implementation.

This is now handled